header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f2f2f2;

}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.menu a.contact {
    border: 2px solid yellow;
    padding: 5px;
}